/* tweet */
.tweet {
  margin: 2em;
  border-radius: 10px;
  border: 1px solid blue;
  overflow: hidden;
  height: 200px;
  position: relative;
  opacity: 0.5;
}

/* tweet hover */
#tweets-container .tweet:hover {
    opacity: 1;
}

/* tweet header */
.tweet header {
  background: lightgray;
  height: 50px;
  width: 100%;
  padding: 5px;
}

/* user icon */
.tweet .userPic {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

/* name */
.tweet header .name {
  display: inline-block;
  margin: 0;
  font-size: 1.5em;
  vertical-align: top;
  font-weight: bold;
}

/* handle */
.tweet header .handle {
  display: inline-block;
  padding: 5px;
  margin: 0;
  font-style: italic;
  float: right;
}

/* tweet content */
.tweet p.tweet-content {
  margin: 0;
  padding: 1em;
  word-wrap: break-word;
}

/* tweet footer */
.tweet footer {
  width: 95%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-top: 1px solid lightgray;
  padding-top: 5px;
  padding-right: 5px;
}

/* tweet footer icons */
.tweet footer .icons {
  opacity: 0;
  height: 15px;
  width: 15px;
  float: right;
}

/* tweet footer icons hover */
#tweets-container .tweet:hover .icons {
  opacity: 1;
}